  <div>
    <strong><%= link_to comment.user.username, comment.user %></strong>
    <p>
      <%= comment.body %><br>
      <%= link_to 'parent', link_comments_path(comment.link) %>
    </p>

  </div>
