<%= render :partial => 'links/links', :locals => { :links => [@link] } %>

<p><%= @link.body %></p>

<h3>Comments</h3>

<%= render :partial => 'comments', :locals => { :comments => @comments } %>

<% if @current_user %>
  <hr>
  <%= render 'form' %>
<% end %>
