<h2><%= @user.username %></h2>

<h3>Posts</h3>

<%= render :partial => 'links/links', :locals => { :links => @user.links.reverse } %>

<h3>Comments</h3>

<%= render :partial => 'comments/comments', :locals => { :comments => @user.comments } %>

<% if @user == @current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
