<h1><%= @user.username %></h1>

<h2>Posts</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Link</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render @user.links %>

</table>

<% if @user.id == @current_user.id %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
